:root {
  --primary: #333333;
  /* box-shadow : hoffest,voffset,blur,spread,color */
  --shadow: 1.5px 1.5px 8px rgba(104, 104, 104, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: #cccccc;
  color: var(--primary);
  line-height: 1.6;
}
h1,
h2,
h3 {
  margin: 1rem 0;
}
p {
  margin: 0.5rem 0;
}
a {
  text-decoration: none;
  color: var(--primary);
  text-transform: uppercase;
  font-size: 1.1rem;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.dark {
  background: #333333;
  color: #ffffff;
}
.light {
  background: #dddddd;
  color: #333333;
  box-shadow: var(--shadow);
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  text-align: center;
}
.container {
  max-width: 95%;
  margin: auto;
}
/* Main menu */
nav {
  margin: 2rem 0;
}
.main-menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-content: space-around;
}
.main-menu ul li {
  padding: 0.8rem 1.2rem;
  text-align: center;
}
.section-1,
.section-2,
.section-3,
.section-4 {
  margin: 1rem 0;
}
/* Section 1 */
.section-1 {
  display: grid;
  grid-template-columns: 7fr 2fr;
  grid-gap: 1rem;
  min-height: 65vh;
}
.showcase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url("../images/showcase.jpg") center/cover no-repeat;
  min-height: 400px;
  justify-content: center;
  padding: 3rem;
  color: #ffffff;
}
.showcase h1 {
  font-size: 4rem;
  line-height: 1.2;
}
.showcase p {
  font-size: 1.3rem;
}
.side-bar {
  display: grid;
  grid-row-gap: 1rem;
  text-align: center;
  min-height: 400px;

}
.side-bar div {
  display: grid;
  justify-content: center;
  align-items: center;
}
.side-bar p {
  align-self: end;
  font-weight: bold;
}
.side-bar h1 {
  font-size: 2.5rem;
  font-weight: 300;
  align-self: flex-end;
}
.side-bar .btn {
  justify-self: center;
}

/* Section 2 */
.section-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  text-align: center;
}
.section-2 div {
  padding: 1.5rem 1rem;
}

/* section-3 */
.section-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section-3 div {
  padding: 3rem 2rem;
}
.section-3 div:last-child {
  padding-left: 0rem;
}

/* section -4 */
.section-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}
/* Footer */
footer {
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .side-bar h1 {
    font-size: 1.8rem;
  }
  .section-2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .main-menu ul,
  .section-1,
  .section-3,
  .section-2 {
    grid-template-columns: 1fr;
  }
  .side-bar h1 {
    font-size: 1.8rem;
  }
  .section-3 div:last-child{
      padding: 3rem;
      text-align: center;
  }
}
